<div class="aboutSection mt-5">
  <h4>About Our WebSite &#160;<i class="fas fa-question-circle"></i></h4>
  <small class="text-warning">I copied these words from an article to prevent too much writing</small>
  <p class="lead">
    <strong>What Does Social Networking Site (SNS) Mean?</strong><br />
    A social networking site is an online platform that allows users to create a public profile and interact with other
    users. Social networking sites usually allow a new user to provide a list of people with whom they share a
    connection, and then allow the people on the list to confirm or deny the connection. After connections are
    established, the new user can search the networks of connections to make more connections.

    A social networking site is also known as a social networking website or social website
  </p>
  <hr />
  <h4>About me&#160;<i class="fas fa-question-circle"></i></h4>
  <ul>
    <li>name : Sallam Rady Ramadan.</li>
    <li>email :
      <a href="mailto:sallamrady@gmail.com">sallamrady@gmail.com</a>
    </li>
    <li>phone : 01125913093</li>
    <li>Country : Egypt</li>
    <li>address : Sohag - Tahta</li>
    <li class="text-primary">my vision : to be the best full stack web developer in the world in sha Allah.</li>
  </ul>
</div>
