<nav class="navbar navbar-expand-custom navbar-mainbg">
  <a class="navbar-brand navbar-logo" routerLink="/home">SallamRady</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <div class="hover-selector">
        <div class="left"></div>
        <div class="right"></div>
      </div>
      <li class="nav-item active" id="homeTab">
        <a class="nav-link" routerLink="/home"><i class="fas fa-home"></i>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users"><i class="fas fa-users"></i>Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/posts"><i class="fas fa-newspaper"></i>Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about"><i class="fas fa-info"></i>About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login"><i class="fas fa-sign-in-alt"></i>Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register"><i class="fas fa-user-plus"></i>Register</a>
      </li>
    </ul>
  </div>
</nav>
