h3 {
  margin-top: 40px;
  font-size: 30px;
  font-weight: bolder;
  text-shadow: 1px 1px 1px;
  text-decoration: underline;
  margin-bottom: 20px;
}

img {
  margin-top: 15px;
  box-shadow: 2px 2px 6px;
}
